@use 'variables';
@use 'mixins';
@use 'header';
@use 'footer';

body {
  @include mixins.align-content-center;
}

.container {
  padding: 1rem;
  position: relative;

  @include mixins.stamp-border(variables.$dark);

  div {
    align-items: center;
    background-color: variables.$lightopaque;
    border-radius: variables.$radius;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    justify-content: flex-end;
    left: 0;
    padding: 3rem 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;

    p {
      color: yellow;
      margin-bottom: 0;
      text-shadow: 0 1px 2px variables.$dark;
    }

    img {
      animation-duration: 2s;
      animation-iteration-count: 5;
      animation-name: to-right-left;
      width: 4rem;
      svg {
        fill: variables.$light;
      }
    }
  }
}

@keyframes to-right-left {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
