@use 'variables';

@mixin align-content-center {
  align-items: center;
  background-color: variables.$light;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

@mixin stamp-border($color) {
  background-image:
    radial-gradient(variables.$radius, transparent 98%, $color),
    linear-gradient($color 0 0);
  background-repeat: round, no-repeat;
  background-position:
    calc(variables.$radius * -1.5) calc(variables.$radius * -1.5),
    50%;
  background-size:
    calc(variables.$radius * 3) calc(variables.$radius * 3),
    calc(100% - variables.$radius * 3) calc(100% - variables.$radius * 3);
}
